@using mobile_store.Model;

@model tb_DienThoai
<div class="list-sanpham">
    <div class="text">
        <h3> </h3>
    </div>

    <ul class="products">

        <li>
            <div class=" products-items">
                <div class="products-top">
                    <a href="" class="products-thumb-1"><img src="~/asset/img/iphone/iphone-11-trang.png" width="180px" height="auto"> </a>
                    <div class="overlay-2"><a href=""> Hot</a></div>
                    <div class="add-card">
                        <a href="buy.html">
                            <button class="btn-flat btn-hover"> <span>Buy now</span></button>
                            <button class="btn-card btn-add"> <i class="fas fa-shopping-cart"></i></button>
                            <button class="btn-card btn-add"> <i class="fas fa-heart"></i></button>
                        </a>
                    </div>
                    <div class="products-infor">
                        <a href="" class="produtcs-meo"> Iphone 11 Trắng  <br>16.400.000đ</a>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>

                            <i class="fas fa-star"></i>( 3 đánh giá )
                        </div>
                    </div>
        </li>
        <li>
            <div class=" products-items">
                <div class="products-top">
                    <a href="" class="products-thumb-1"><img src="~/asset/img/iphone/iphone-13-trang.png" width="180px" height="auto"> </a>
                    <div class="overlay-2"><a href=""> Hot</a></div>
                    <div class="add-card">
                        <a href="~/Shop/Details">
                            <button class="btn-flat btn-hover"> <span>Buy now</span></button>
                            <button class="btn-card btn-add"> <i class="fas fa-shopping-cart"></i></button>
                            <button class="btn-card btn-add"> <i class="fas fa-heart"></i></button>
                        </a>
                    </div>
                    <div class="products-infor">
                        <a href="deta" class="produtcs-meo"> Iphone 13 Trắng  <br> 23.900.000đ</a>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i> ( 15 đánh giá )
                        </div>
                    </div>
        </li>
        <li>
            <div class=" products-items">
                <div class="products-top">
                    <a href="" class="products-thumb-1"><img src="~/asset/img/iphone/iphone-14 512gb black.png" width="180px" height="auto"> </a>
                    <div class="overlay-2"><a href=""> -20%</a></div>
                    <div class="add-card">
                        <a href="buy.html">
                            <button class="btn-flat btn-hover"> <span>Buy now</span></button>
                            <button class="btn-card btn-add"> <i class="fas fa-shopping-cart"></i></button>
                            <button class="btn-card btn-add"> <i class="fas fa-heart"></i></button>
                        </a>
                    </div>
                    <div class="products-infor">
                        <a href="" class="produtcs-meo"> Iphone 14 512gb Đen  <br><del>22.500.000đ</del> <font color='red'> 22.350.000đ</font></a>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i> ( 20 đánh giá )
                        </div>
                    </div>
        </li>

        <li>
            <div class=" products-items">
                <div class="products-top">
                    <a href="" class="products-thumb-1"><img src="~/asset/img/iphone/iPhone-14-red.png" width="180px" height="auto"> </a>
                    <div class="overlay-2"><a href=""> Hot</a></div>
                    <div class="add-card">
                        <a href="buy.html">
                            <button class="btn-flat btn-hover"> <span>Buy now</span></button>
                            <button class="btn-card btn-add"> <i class="fas fa-shopping-cart"></i></button>
                            <button class="btn-card btn-add"> <i class="fas fa-heart"></i></button>
                        </a>
                    </div>
                    <div class="products-infor">
                        <a href="" class="produtcs-meo"> Iphone 14 Đỏ   <br>22.520.000đ</a>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>

                            <i class="fas fa-star"></i>
                            ( 10 đánh giá )
                        </div>
                    </div>
        </li>


        <li>
            <div class=" products-items">
                <div class="products-top">
                    <a href="" class="products-thumb-1"><img src="~/asset/img/iphone/iPhone11_red.png" width="180px" height="auto"> </a>
                    <div class="overlay-2"><a href=""> Hot</a></div>
                    <div class="add-card">
                        <a href="buy.html">
                            <button class="btn-flat btn-hover"> <span>Buy now</span></button>
                            <button class="btn-card btn-add"> <i class="fas fa-shopping-cart"></i></button>
                            <button class="btn-card btn-add"> <i class="fas fa-heart"></i></button>
                        </a>
                    </div>
                    <div class="products-infor">
                        <a href="" class="produtcs-meo"> Iphone 11 Đỏ  <br>15.400.000đ </a>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i> ( 3 đánh giá )
                        </div>
                    </div>
        </li>
        <li>
            <div class=" products-items">
                <div class="products-top">
                    <a href="" class="products-thumb-1"><img src="~/asset/img/iphone/iphone13_blue.png" width="180px" height="auto"> </a>
                    <div class="overlay-2"><a href=""> Hot</a></div>
                    <div class="add-card">
                        <a href="buy.html">
                            <button class="btn-flat btn-hover"> <span>Buy now</span></button>
                            <button class="btn-card btn-add"> <i class="fas fa-shopping-cart"></i></button>
                            <button class="btn-card btn-add"> <i class="fas fa-heart"></i></button>
                        </a>
                    </div>
                    <div class="products-infor">
                        <a href="" class="produtcs-meo"> Iphone 13 Xanh  <br>21.700.000đ</a>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i> ( 1 đánh giá )
                        </div>
                    </div>
        </li>
        <li>
            <div class=" products-items">
                <div class="products-top">
                    <a href="" class="products-thumb-1"><img src="~/asset/img/iphone/iphone13_blue.png" width="180px" height="auto"> </a>
                    <div class="overlay-2"><a href=""> -10%</a></div>
                    <div class="add-card">
                        <a href="buy.html">
                            <button class="btn-flat btn-hover"> <span>Buy now</span></button>
                            <button class="btn-card btn-add"> <i class="fas fa-shopping-cart"></i></button>
                            <button class="btn-card btn-add"> <i class="fas fa-heart"></i></button>
                        </a>
                    </div>

                    <div class="products-infor">
                        <a href="" class="produtcs-meo"> Iphone 13 Xanh <br><del>22.450.000đ</del> <font color='red'> 22.350.000đ</font></a>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i> ( 15 đánh giá )
                        </div>
                    </div>
        </li>
        <li>
            <div class=" products-items">
                <div class="products-top">
                    <a href="" class="products-thumb-1"><img src="~/asset/img/iphone/iphone14_1tb.png" width="180px" height="auto"> </a>
                    <div class="overlay-2"><a href=""> Hot</a></div>
                    <div class="add-card">
                        <a href="buy.html">
                            <button class="btn-flat btn-hover"> <span>Buy now</span></button>
                            <button class="btn-card btn-add"> <i class="fas fa-shopping-cart"></i></button>
                            <button class="btn-card btn-add"> <i class="fas fa-heart"></i></button>
                        </a>
                    </div>
                    <div class="products-infor">
                        <a href="" class="produtcs-meo"> Iphone 14 1tb   <br>27.400.000đ</a>                            
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i> ( 3 đánh giá )
                        </div>
                    </div>
        </li>


        <li>
            <div class=" products-items">
                <div class="products-top">
                    <a href="" class="products-thumb-1"><img src="~/asset/img/iphone/iphone-11-trang.png" width="180px" height="auto"> </a>
                    <div class="overlay-2"><a href=""> -30%</a></div>
                    <div class="add-card">
                        <a href="buy 5.html">
                            <button class="btn-flat btn-hover"> <span>Buy now</span></button>
                            <button class="btn-card btn-add"> <i class="fas fa-shopping-cart"></i></button>
                            <button class="btn-card btn-add"> <i class="fas fa-heart"></i></button>
                        </a>
                    </div>
                    <div class="products-infor">
                        <a href="" class="produtcs-meo"> Iphone 11 trắng  <br><del>22.800.000đ</del> <font color='red'> 22.550.000đ</font></a>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i> ( 30 đánh giá )
                        </div>
                    </div>
        </li>

    </ul>
    <div class="number-page">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="">
                <font color='red'>1</font>
            </a>
            <a href="">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
        </div>
    </div>

</div>